# Dependency directories
node_modules/

# Local environment secret variables
.env
.env.local
.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS metadata files
.DS_Store
Thumbs.db
